body {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #000000;
    margin: 10px auto;
}

blockquote {
    margin-top: -20px;
}


.navbar {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial;
    padding: 0;
    margin-top: -10px;
}

#home {
    float: left;
}

.navbar a {
    float: right;
    padding: 10px 12px ;
}

.dropdown {
    margin:0;
    padding: 0;
    float: right;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #000000;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #1d1d1d;
    padding: 0;
    z-index: 5000;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: black;
}


header h1 {
    margin-top: -2px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}

#map {
    text-align: left;
    flex: 8;
    width: auto;
    height: 400px;
    margin-right: 5px;
    box-shadow: -3px -3px 9px #555;
}

.sidebar {
    flex: 2;
    background-color: #131313;
    margin-right: 5px;
    text-align: center;
    height: 400px;
    overflow-y: visible;
    position: relative;
}

.sidebar-header {
    background-color: #000000;
    margin: 0;
    padding: 5px;
    color: white;
}

.sidebar-content {
    height: 70%;
    overflow-y: scroll;
    text-align: left;
    font-size: 12px;
    color: white;
    padding: 5px;
}

.sidebar-content::-webkit-scrollbar {
    width: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.clear-button,
.clear-button2 {
    position: absolute;
    left: 78%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 5px;
    background-color: #646464;
    color: black;
    padding: 5px 10px;
    border: 2px solid #000000;
    touch-action: manipulation;
    cursor: pointer;
    will-change: transform;
}

.clear-button:disabled,
.clear-button2:disabled {
    pointer-events: none;
}

.clear-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translate(-50%, -2px);
    background-color: rgb(218, 25, 25);
    border: 2px solid white;
    color: white;
}

.clear-button:active {
    box-shadow: none;
    transform: translateY(-50%, 0);
}




.slider-container {
    text-align: center;
    color: white;
    background-color: #000000;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider {
    writing-mode: bt-lr;
    width: 100px;
    height: 10px;
    margin: auto;
    appearance: none;
    background: linear-gradient(to right,
            #008000 0%,
            #FFFF00 29%,
            #FFA500 40%,
            #FF0000 60%,
            #800080 70%,
            #300025 90%);
    border: none;
    border-radius: 10%;
    outline: none;
    transform: rotate(-90deg);
    transform-origin: center;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 30px;
    background-color: #000000;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 10%;
    cursor: pointer;
}

#sliderlabel {
    position: relative;
    font-weight: bold;
    bottom: -120px;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

.slider-value {
    position: relative;
    top: -80px;
    color: white;
    font-weight: bold;
}

.wrapper {
    position: relative;
    top: 5px;
    font-weight: bold;
    width: 50%;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.range-value {
    background-color: #000000;
    position: relative;
    margin: auto;
    padding: 10px 0;
    bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.yearcontainer {
    position: relative;
    height: 20px;
    margin-top: 5px;
}

.yearslider {
    width: 99%;
    margin: auto;
    outline: none;
    height: 10px;
    position: absolute;
    background-color: #000000;
    border: 1px solid #93B1A6;
    top: 0;
    bottom: 0;
}

.yearcontainer input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
}

.yearcontainer input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
}

.yearcontainer input[type="range"]::-ms-track {
    appearance: none;
    height: 10px;
}

.yearcontainer input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 10px;
    background-color: black;
    border: 1px solid rgb(105, 105, 105);
    margin-top: -10px;
    cursor: pointer;
    pointer-events: auto;
}



.yearcontainer input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 30px;
    width: 10px;
    cursor: pointer;
    pointer-events: auto;
    background-color: black;
    border: 1px solid rgb(105, 105, 105);
}

.yearcontainer input[type="range"]::-ms-thumb {
    appearance: none;
    height: 30px;
    width: 10px;
    cursor: pointer;
    pointer-events: auto;
    background-color: black;
    border: 1px solid rgb(105, 105, 105);
}

.yearcontainer input[type="range"]:active::-webkit-slider-thumb {
    background-color: #183D3D;
    border: 1px solid rgb(105, 105, 105);
}


.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 10px;
    line-height: 24px;
    color: #555;
}

.legend h5 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.sidebar-content {
    font-size: 15px;
}

.bottom-left {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.phone-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
    .navbar {
        margin-top: 0;
    }
    .phone-only {
        height: calc(50% - 30px);
        margin-top: 0;
        width: 100%;
        display: block;
    }

    .phone-only .sidebar {
        margin-right: 0;
        height: 100%;
        margin-bottom: 0;
    }

    .legend {
        width: 120px;
    }

    body {
        background-color: #000000;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .container {
        height: calc(50% - 25px);;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }

    #map {
        width: 100%;
        height: 100%;
        box-shadow: none;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

}