body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}


.helptext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10px;
}

.helptext ul, .helptext ul li a{
    list-style: none;
    text-decoration: none;
}


.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: Arial;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}

#home {
    float: left;
}

.navbar a {
    float: right;
    padding: 10px 12px;
}

.dropdown {
    margin: 0;
    padding: 0;
    float: right;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover {
    background-color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #dbdbdb;
    padding: 0;
    z-index: 5000;
}

.dropdown-content a {
    float: none;
    color: #363636;
    padding: 15px 15px;
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #f3f3f3;
    color: black;
}


header h1 {
    margin-top: -2px;
    color: #363636;
}

.container {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 2fr) repeat(2, 1fr);
    grid-template-rows: repeat(3, 2fr) repeat(2, 1fr);
    grid-column-gap: 5px;
    padding: 6px 15px 6px 15px;
    height: calc(100%);
}

.map {
    grid-area: 1 / 1 / 6 / 4;
    text-align: left;
}

.sidebar {
    grid-area: 1 / 4 / 4 / 6; 
    text-align: center;
    overflow-y: visible;
    position: relative;
}

.sidebar-header {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 1px;
    color: #363636;
}

.sidebar-content, .sidebar-contentX {
    overflow-y: scroll;
    text-align: left;
    font-size: 15px;
    height: 340px;
    color: #363636;
    font-weight: normal;
    font-family: inherit;
}
.sidebar-contentX {
    height: 375px;
    overflow-y: hidden;
}
.sidebar-content::-webkit-scrollbar {
    width: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 5px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background: #797979;
}

.clear-button,
.clear-button2 {
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 5px;
    background-color: #bdbdbd;
    color: black;
    padding: 5px 10px;
    border: 1px solid #363636;
    touch-action: manipulation;
    cursor: pointer;
    will-change: transform;
    font-weight: bold;
}


.clear-button:disabled,
.clear-button2:disabled {
    pointer-events: none;
}

.clear-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translate(-50%, -1px);
    background-color: #f56666;
    border: 1px solid #bdbdbd;
    color: white;
}

.clear-button:active {
    box-shadow: none;
    transform: translateY(-50%, 0);
}


.filters {
    grid-area: 4 / 4 / 6 / 6; 
}

.slider-container {
    color: #363636;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    text-align: center;
}

.slider {
    writing-mode: bt-lr;
    height: 5px;
    width: 80%;
    appearance: none;
    /* background: linear-gradient(to right,
            rgb(0, 128, 0, 0.8) 0%,
            rgb(255, 255, 0, 0.8) 29%,
            rgb(255, 165, 0, 0.8) 40%,
            rgb(255, 0, 0, 0.8) 60%,
            rgb(128, 0, 128, 0.8) 70%,
            rgb(48, 0, 37, 0.8) 90%); */
    background: black;
    border: 1px solid #363636;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:active, .slider::-webkit-slider-thumb:hover {
    background-color: #dbdbdb;
    border: 1px solid #000000;
}

#sliderlabel {
    font-weight: bold;
    color: #363636;
}

.slider-value {
    color: #363636;
    font-weight: bold;
    min-width: 30px;
}

.wrapper {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #dbdbdb;
    padding: 0 5px 6px 5px;
    font-weight: bold;
}

.range-value {
    background-color: transparent;
    position: relative;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #363636;
}

.yearcontainer {
    position: relative;
    height: 20px;
}

.yearslider {
    width: 99%;
    margin: auto;
    outline: none;
    height: 5px;
    position: absolute;
    border: 1px solid #363636;
    top: 0;
    bottom: 0;
}

.yearcontainer input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
}

.yearcontainer input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

.yearcontainer input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

.yearcontainer input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 10px;
    background-color: black;
    border: 1px solid #363636;
    margin-top: -7px;
    cursor: pointer;
    pointer-events: auto;
}



.yearcontainer input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 20px;
    width: 10px;
    margin-top: -7px;
    cursor: pointer;
    pointer-events: auto;
    background-color: black;
    border: 1px solid #363636;
}

.yearcontainer input[type="range"]::-ms-thumb {
    appearance: none;
    height: 20px;
    margin-top: -7px;
    width: 10px;
    cursor: pointer;
    pointer-events: auto;
    background-color: black;
    border: 1px solid #363636;
}

.yearcontainer input[type="range"]:active::-webkit-slider-thumb {
    background-color: #dbdbdb;
    border: 1px solid black;
}

.yearcontainer input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #dbdbdb;
    border: 1px solid black;
}

#legend-toggle {
    background-color: rgb(255, 255, 255, 0.2);
}
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgb(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 10px;
    line-height: 24px;
    color: #555;
}

.legend h5 {
    text-align: center;
    font-size: 14px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 1;
}

.bottom-left {
    grid-area: 4 / 4 / 6 / 6;
    color: #363636;
    font-weight: bold;
}

.phone-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }

    

    .phone-only {
        height: calc(50% - 120px);
        margin-top: 0;
        width: 100%;
        display: block;
    }


    .phone-only .sidebar {
        margin-right: 0;
        height: 90%;
        margin-bottom: 0;
        background-color: #f3f3f3;
    }
    .sidebar-content {
        margin-left: 5px;
    }
    .clear-button2 {
        bottom: -100px;
    }
    .legend {
        width: 120px;
    }


    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .container {
        display: block;
        height: calc(50% - 50px);
        padding: 0;
        margin: 0;
        background-color: rgb(0, 0, 0);
    }
    .map {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }

}